# Dev
.idea
~/*
.env
/core/config.yaml
enable_dev_mode

# Deployment Artifacts
/deploy/vaulthalla.env
/deploy/psql/hash_password

# Server
/core/build/

# Production
/*/dist/
*/.release_notes

# Debian
/debian/**/*debhelper*
/debian/vaulthalla-server
/debian/vaulthalla.substvars
/debian/files
